<!doctype html>
<html>
<head>
<title>菜单</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="skin/style.css" type="text/css"/>
</head>
<body>
<div class="left">
    <div id="menus">
        <h3><a href="javascript:void(0)" id="item6">jquery-ui</a></h3>
        <div class="container" id="menu6">
       	    <li><a target="mainFrame" href="jquery/blockUI/jquery_blockui.html">jquery.blockUI</a></li>
        </div>
        <h3><a href="javascript:void(0)" id="item6">demoes</a></h3>
        <div class="container" id="menu6">
       	    <li><a target="mainFrame" href="demoes/debugDispatcherServlet.html?id=123">debugDispatcherServlet.html</a></li>
        </div>
        
        <h3><a href="javascript:void(0)" id="item6">Spring-demo</a></h3>
        <div class="container" id="menu6">
       	    <li><a target="mainFrame" href="demoes/spring-local-theme.html">spring-国际化, spring-动态样式</a></li>
        </div>
    </div>
</div>
</body>
</html>