<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="#springTheme('css')" type="text/css"/>
<!--meta http-equiv="X-UA-Compatible" content="IE=8" /-->
<title>jquery.blockUI-demo</title>
</head>
<body>
	<div style="float: right; display: inline-block;">
		<span>language:<a href="?lang=en">en</a>|<a href="?lang=cn">cn</a></span><br/>
		<span>backcolor:<a href="?theme=default">theme-default</a>|<a href="?theme=black">theme-blk</a>|<a href="?theme=blue">theme-blu</a></span>
	</div>
	<div style="clear: both;"></div>
	<div style="color: green; text-align: center; height:200px;  vertical-align:middle;  line-height:200px; ">
		<span>#springMessage('label.firstname')</span>;
		<span>#springMessage('label.lastname')</span>
	</div>
</body>
</html>
